/* *******首页******* */


/* 轮播 */

.swiper {
    /* 相对定位 */
    position: relative;
}

.search {
    position: absolute;
    top: 0.56rem;
    /* left:1.05rem; */
    left: 50%;
    margin-left: -2.7rem;
    /* 固定大小 定宽 */
    width: 4.7rem;
    height: 0.34rem;
    padding: 0.11rem 0 0.15rem 0.7rem;
    /* 不固定宽度 */
    /* width：原长/7.5 */
    font-size: 0.24rem;
}

.dot {
    /* 绝对定位 */
    position: absolute;
    bottom: 0.15rem;
    width: 100%;
    text-align: center;
}

.dot span {
    display: inline-block;
    width: 0.15rem;
    height: 0.15rem;
    margin-left: 0.05rem;
    margin-right: 0.05rem;
    background-color: #fff;
    /* background-color:#fff; */
    border-radius: 0.75rem;
}

.content {
    overflow: hidden;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    background-color: #f9f9f9;
}

.item-box {
    height: 1.5rem;
    margin-top: 0.18rem;
}

.item-box .list {
    float: left;
    width: 33.333333%;
    height: 0.75rem;
    border-right: 0.01rem solid #f9f9f9;
    border-bottom: 0.01rem solid #f9f9f9;
    text-align: center;
    line-height: 0.75rem;
    font-size: 0.28rem;
    color: #fff;
    /* 盒模型 计算方式  */
    box-sizing: border-box;
}

.item-box .big {
    height: 1.5rem;
}

.bg1 {
    background-color: #85dc38;
}

.bg2 {
    background-color: #f7713f;
}

.bg3 {
    background-color: #db386c;
}

.bg4 {
    background-color: #2caa71;
}

.item-box .auto {
    width: 0.75rem;
    height: 0.65rem;
}

.title{
    width:100%;
    height:0.59rem;

    padding-top:0.4rem;

    font-size:0.24rem;
    color:#333;


    /* background: red; */
}

.title img{
    display: inline-block;
    width:0.37rem;
    height: 0.37rem;
    margin-top: -0.05rem;
    padding-right:0.2rem;

    vertical-align: middle;

}

.title a{
    padding-left:0.1rem;
    color:#31ad37;
    text-decoration: underline;

}
.menu{
   float:left;
   width:47%;
   box-sizing: border-box;
}


.fr{
    float:right;
}

.column{
    float:left;

    /* width:1.73rem; */
    width:50%;
    height:1.73rem;

    /* margin-right:0.01rem;
    margin-bottom:0.02rem; */

    border-right:0.03rem solid #f9f9f9;
    border-bottom:0.02rem solid #f9f9f9;

    text-align: center;
    line-height: 1.73rem;

    font-size: 0.28rem;

    background-color: #fff;

    box-sizing: border-box;

}

.column:nth-of-type(2n){
    border-right:0;
}

.active-box{
    height:1.45rem;

    margin-top: 0.24rem;
    margin-bottom: 1.2rem;

    padding-top:0.3rem;
    padding-bottom:0.24rem;

    text-align: center;

    background-color: #fff;

    box-sizing: border-box;

}


.footer{
    position: fixed;
    bottom:0;

    width:100%;
    height:0.98rem;

}

.footer li{
    float:left;
    width:25%;
    height:0.98rem;
    text-align: center;

    font-size: 0.2rem;
    background: #fff;

}

.footer img{
    width: 0.3rem;
    padding-top:0.19rem;
    padding-bottom:0.12rem;
}


.active{
    color:#fa2855;
}

.dot .act{
    width:0.4rem;
}